/* Write your CSS here */
.language-list {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 170px;
  background-color: #f8f8ff;
}
.name {
  color: #e73959;
  font-size: 17px;
  margin-bottom: 12px;
  font-family: Roboto;
}
.avatar-image {
  width: 100px;
  text-align: center;
}
.language-stars {
  display: flex;
  margin-bottom: 12px;
}
.star {
  height: 15px;
  width: 15px;
  margin-right: 6px;
}
.forks {
  height: 15px;
  width: 15px;
  margin-right: 6px;
}
.issues {
  height: 15px;
  width: 15px;
  margin-right: 6px;
}
